<form [formGroup]="personForm" (ngSubmit)="onSubmit()">
    <h4>Add a new Person</h4>

    <mat-form-field class="max-width" appearance="fill">
        <mat-label>Given name</mat-label>
        <input matInput type="text" name="given" placeholder="e.g Gabe" formControlName="given">
    </mat-form-field>

    <mat-form-field class="max-width" appearance="fill">
        <mat-label>Family name</mat-label>
        <input matInput type="text" name="family" placeholder="e.g Itches" formControlName="family">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Gender</mat-label>
        <mat-select formControlName="gender">
          <mat-option value="male">male</mat-option>
          <mat-option value="female">female</mat-option>
          <mat-option value="other">other</mat-option>
          <mat-option value="unknown">unknown</mat-option>
        </mat-select>
      </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>Birthdate</mat-label>
        <input matInput type="date" name="birthDate" formControlName="birthDate">
    </mat-form-field>

      <div style="display: flex; justify-content: flex-end;">
        <button mat-raised-button color="primary" class="margin-right" type="reset">Reset</button>
        <button mat-raised-button color="primary" [disabled]="personForm.invalid" type="submit">Add</button>
      </div>

</form>

<h4>
  Lekérdezések:
</h4>

<mat-label>
  1980 után született személyek száma: {{youngPeople.length}}
</mat-label>
<br>
<mat-label>
  Ismeretlen nemű személyek száma: {{unknownGenderPeople.length}}
</mat-label>
