.mat-toolbar.mat-primary {
    background: #41b3a3;
    color: #fff;
  }

button:hover, button:active {
    color: black;
  }

button {
  color: #41b3a3;
  background-color:peachpuff;
  border-style: solid;
  border-width: 1px;
  border-color: black;
}